<div class="inner-page-cover overlay" style="background-image: url('../../img/header_bg.jpg');" data-aos="fade" data-stellar-background-ratio="0.5" id="section-home">
</div>
<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 order-md-1" id="AboutParent" data-aos="fade">
                <div class="text-left pb-1 border-primary mb-4">
                    <h2 class="text-primary">Copyright & Privacy Policy</h2>
                </div>

                <p>This website is registered and maintained by Hita Ras Dhara, India.</p>
                <p>Our postal address is:</p>
                <p><span>Hita Ras Dhara</span><br><span>123 Dogran Market,</span><br><span>Hisar, Haryana 125001 India</span></p>
                <p><span>Email us at <a href="mailto:info@hitaambrish.com">info@hitaambrish.com</a></span><br><span>Telephone us at +91 - 7357623456,</span></p>

                <p><strong>Copyright Information</strong></p>

                <p>Hita Ras Dhara is the owner of, and reserves all rights to, all material published on this website, including audio, video, electronic, multimedia, photographic, and written forms.</p>

                <p>You may not copy, reproduce, sell, publish, display, transmit, distribute, perform, modify, create works derivative of, or in any way exploit any material from this website without the express written consent of Hita Ras Dhara.</p>

                <p>Requesting permission: To request permission for reprinting, publishing, licensing, or for any other use of any material or works on this website, write to Hita Ras Dhara at the email address provided above. Provide in writing the following information: your name (and title); the name, postal and email addresses, and telephone numbers of your organization; the mission and purpose of your organization; similar information for any other relevant contact persons in your organization; a detailed description of the material for which you are requesting permission, and where it is located on our website; and a detailed description of your intention and purpose of use of the material (how and why it will be used, published, and distributed).</p>

                <p>Hita Ras Dhara reserves the right to deny or withdraw permission, for any reason, for use of any material published on this website.</p>
            </div>
        </div>
    </div>
</div>
