
<div class="inner-page-cover overlay" style="background-image: url('../../img/header_bg.jpg');" data-aos="fade" data-stellar-background-ratio="0.5" id="section-home">
</div>
<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 order-md-1" id="AboutParent" data-aos="fade">
                <div class="text-left pb-1 border-primary mb-4">
                    <h2 class="text-primary">Hita Spot</h2>
                </div>
                <!-- Content Here -->
            </div>
        </div>
    </div>
</div>
