.visibleBlock {
    display :  block;
}
.HiddenBlock {
    display :  none;
}

.VisibleBlock {
    display :  block !important;
}
.HiddenBlock {
    display :  none !important;
}

@media (max-width: 480px) {
    .desktop {display:none;}
    .mobile {display:block;}
    .desktopKatha {display:none;}	
}

@media (min-width: 480px) {
    .mobile {display:none;}
    .desktop {display:block;}
}

#StatusStamp {
    height: 100px;
    width: 180px;
    margin-left: -10px;
    margin-top: 5px;
}

.myCheckbox {
    padding-left: 10px
}

.intl-tel-input.allow-dropdown {
    /*margin-bottom: 15px;*/
    width: 100%;
}

.intl-tel-input.allow-dropdown input {
        border: 1px solid #ccc;
        border-radius: 0;
        height: 44px;
}

.pad {
    padding: 10px;
}