<div class="inner-page-cover overlay" style="background-image: url('../../img/header_bg.jpg');" data-aos="fade" data-stellar-background-ratio="0.5" id="section-home">
</div>
<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 order-md-1" id="AboutParent" data-aos="fade">
                <div class="text-left pb-1 border-primary mb-4">
                    <h2 class="text-primary">Hita Ambrish Ji</h2>
                </div>
                <p>Renowned speaker and youth icon. Hita Ambrish ji has been an influential voice at various forums. His transformational discourses have transverse millions of lives world-wide. Surrendered to the footprints of Shree Hita Harivansh Chandra Mahaprabhu, an exponent of Radhavallabh ras-reeti.</p>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-sm-push-6 col-xs-12">
                        <div class="owl-carousel owl-theme owl-carousel-about">
                            <div class="item"><img src="../../img/About/1.jpg" alt="Slider1img1"></div>
                            <div class="item"><img src="../../img/About/2.jpg" alt="Slider1img2"></div>
                            <div class="item"><img src="../../img/About/3.jpg" alt="Slider1img2"></div>
                            <div class="item"><img src="../../img/About/4.jpg" alt="Slider1img2"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-sm-pull-6 col-xs-12">
                        <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 vertical-center">
                            <p>Dedicated to the holistic well-being of humanity with the ideology of “Sab so Hita”, meaning selfless service. He speaks from the voice of experience and touches the deepest cords of contemporary minds by acting as a bridge to internal dimensions of self.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-sm-push-6 col-xs-12 mobile">
                        <div class="owl-carousel owl-theme owl-carousel-about">
                            <div class="item"><img src="../../img/About/5.jpg" alt="Slider2img1"></div>
                            <div class="item"><img src="../../img/About/6.jpg" alt="Slider2img2"></div>
                            <div class="item"><img src="../../img/About/7.jpg" alt="Slider2img2"></div>
                            <div class="item"><img src="../../img/About/8.jpg" alt="Slider2img2"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-sm-pull-6 col-xs-12">
                        <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 vertical-center">
                            <p>Hita Ambrish ji has a unique ability to decode recitals of rasik saints like Kabir Das, Tulsidas, Soordas, Rehdas, Guru Nanak dev ji and so on; Immersed in love of the divine couple Shree Radha-Krishna, expressing his utmost love in the lotus feet of Shree Radha by reciting the glories through soul stringed discourses and melodious divine songs.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-sm-push-6 col-xs-12 desktop">
                        <div class="owl-carousel owl-theme owl-carousel-about">
                            <div class="item"><img src="../../img/About/5.jpg" alt="Slider2img1"></div>
                            <div class="item"><img src="../../img/About/6.jpg" alt="Slider2img2"></div>
                            <div class="item"><img src="../../img/About/7.jpg" alt="Slider2img2"></div>
                            <div class="item"><img src="../../img/About/8.jpg" alt="Slider2img2"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-sm-push-6 col-xs-12">
                        <div class="owl-carousel owl-theme owl-carousel-about">
                            <div class="item"><img src="../../img/About/9.jpg" alt="Slider3img1"></div>
                            <div class="item"><img src="../../img/About/10.jpg" alt="Slider3img2"></div>
                            <div class="item"><img src="../../img/About/11.jpg" alt="Slider3img2"></div>
                            <div class="item"><img src="../../img/About/12.jpg" alt="Slider3img2"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-sm-pull-6 col-xs-12">
                        <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 vertical-center">
                            <p>As an inspiration, he introduced many lives to the path filled with eternal love and devotion. His simplicity enables youth to establish a deeper connect with him. His thoughts and morals ascribe for intense self connection and transformation through focus and ease.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-sm-push-6 col-xs-12 mobile">
                        <div class="owl-carousel owl-theme owl-carousel-about">
                            <div class="item"><img src="../../img/About/13.jpg" alt="Slider4img1"></div>
                            <div class="item"><img src="../../img/About/14.jpg" alt="Slider4img2"></div>
                            <div class="item"><img src="../../img/About/15.jpg" alt="Slider4img2"></div>
                            <div class="item"><img src="../../img/About/16.jpg" alt="Slider4img2"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-sm-pull-6 col-xs-12">
                        <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 vertical-center">
                            <p>No wonder his insights are being actively practiced by millions. It is his deep self connection, blessings of saints and his faith on eternal force which motivates him to keep going towards his ideology of selfless service.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-sm-push-6 col-xs-12 desktop">
                        <div class="owl-carousel owl-theme owl-carousel-about">
                            <div class="item"><img src="../../img/About/13.jpg" alt="Slider4img1"></div>
                            <div class="item"><img src="../../img/About/14.jpg" alt="Slider4img2"></div>
                            <div class="item"><img src="../../img/About/15.jpg" alt="Slider4img2"></div>
                            <div class="item"><img src="../../img/About/16.jpg" alt="Slider4img2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .vertical-center {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {
        $(".owl-carousel-about").owlCarousel({
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            items: 1,
            itemsDesktop: false,
            itemsDesktopSmall: false,
            itemsTablet: false,
            itemsMobile: false
        });
    });

</script>
