<div class="page-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="about-content pageContent rightImg">
                    <img src="~/img/hita-ras-dhara-logo.png" alt="Hita Ras Dhara" align="right">
                    <h4><span class="color">Hita Ras Dhara</span></h4>
                    <p>Hita Ras Dhara ! A team of devoted followers of the divine being who have been channelizing most of their energy in spreading the fragrance of the divine Love, Kindness and Compassion of the supreme god. We at Hita Ras Dhara believe that, what we have experienced by the grace of Shree Ji must be shared with the entire world and no human being on this planet should remain deprived from this divinity of the lord. </p>
                    <p>This is only possible by the mentoring of Shree Hita Ambrish Ji, under whose able guidance we are able to progress on this journey. Not only he has been our constant source of inspiration but also has always held our hand and shown us the right path. </p>
                    <p>We not only share the teachings of Lord Krishna by means of Videos, Audios and Journals so that it reaches the masses, but also aim to foster the feeling of complete surrender </p>
                </div>
            </div>
        </div>
    </div>
</div>
