<div class="page-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="about-content rightImg pageContent">
                    <img src="~/img/ambrish-ji.jpg" alt="Shree Radhavallabh Ji" align="right">
                    <h4><span class="color">Hita Ambrish Ji</span></h4>
                    <p>Hita Ambrish Ji is young, charismatic, spiritual teacher. An inspiring mentor who has transformed many lives and introduced them to path filled with love, devotion and selfless service. He speaks from the voice of his experience and touches the deepest chord even with a casual listener and is himself a living testimony to all that he teaches.</p>
                    <p>An inspiring mentor who has transformed many lives and introduced them to path filled with love, devotion and selfless service.</p>
                    <p>He is an exponent of RadhaVallabh sect and is following in the footsteps of Mahaprabhu Shree Hita Harivanshji. He recites the glories of Shree Radha and expresses his utmost love in the lotus feet of Shree Radha.</p>
                    <p>As part of his discourses he explains the 'vani's of the Rasik Saints who have immersed themselves in the love of the divine couple Radha-Krishna and also elucidates the life stories of renowned devotees like 'Mira Bai', 'Kabir', 'Tulsidas', 'Soordas'...</p>
                    <p>A reservoir of 'Bhakti Ras' his melodious voice and soul stirring bhajans evoke a sense of love and celebration in the listener's heart. His thought provoking words and authenticity appeal widely to all age groups especially the younger generation. His discourses traverse the spiritual journey from self to inner self with focus and ease.</p>
                </div>
            </div>
        </div>
    </div>
</div>
