<div class="inner-page-cover overlay" style="background-image: url('../../img/header_bg.jpg');" data-aos="fade" data-stellar-background-ratio="0.5" id="section-home">
</div>
<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 order-md-1" id="AboutParent" data-aos="fade">
                <div class="text-left pb-1 border-primary mb-4">
                    <h2 class="text-primary">Hita Ambrish Ji</h2>
                </div>
                <div class="col-md-5 ml-auto order-md-2" data-aos="fade">
                    <img src="https://static.hitaambrish.com/img/home/maharaj-ji2.jpg" alt="Image" id="AboutImage" class="img-fluid rounded pl-3 pr-3">
                </div>
                    <p>Shree Hita Ambrish Ji is a spiritual mentor from Vrindavan, India with a refreshing take on devotion to divine. He spent his childhood and completed his education in Hisar. As a child also, Ambrish ji always had an inclination towards spirituality. At a very tender age, he was an avid reader of scriptures like Ram Charitra Manas, Shrimad Bhagwat and Gurbaani. He has been delivering spiritual discourses, since 2006 on 'Bhakti Yoga'. He elucidates 'Seva' as the purest form of love towards the divine power.  He has been actively conducting interactive sessions for youth on various forums encouraging them to be master of their own self.</p>
                    <p>With time, as an inspiration he introduced many lives to the path filled with eternal love and devotion.He is a guide, teacher and friend to all who are seeking eternal truth and striving for meaningful life. His simplicity enables people to establish a deeper connect with him. His thoughts and morals ascribe for discipline, introspection and deep self-connection through focus and ease.</p>
                    <p>His doctrine is widely accepted and practiced especially by youth. He speaks from the voice of experience and touches the deepest cords of the contemporary minds. Dedicated to the holistic well-being of humanity Hita Ambrish ji accredits all his learning to Saints and surrenders it in the lotus feet of his Almighty Supreme. It is his intense self connection, blessings of saints and his faith on eternal force which motivates him to serve towards his ideology of "Sab so Hita", meaning well-being for all. He often quotes, "It is a journey from self to inner self. A journey from Confusion to Conclusion".</p>
            </div>
        </div>
    </div>
</div>
