
<div class="inner-page-cover overlay" style="background-image: url('../../img/header_bg.jpg');" data-aos="fade" data-stellar-background-ratio="0.5" id="section-home">
</div>
<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 order-md-1" id="AboutParent" data-aos="fade">
                <div class="text-left pb-1 border-primary mb-4">
                    <h2 class="text-primary">Vision</h2>
                </div>
                <p data-aos="fade">Life is not just happening it is responding.</p>
                <p data-aos="fade">You are not just being seen but experienced in every moment. Nature is registering your existence and reciprocating accordingly.</p>
                <p data-aos="fade">Connect with your inner-self and be your own master, by starting your journey from acceptance. When your destination is self realisation you start with self leadership. </p>
                <p data-aos="fade">A thought empowers a thought, enable yourself to think and give yourself space to think.</p>
                <p data-aos="fade">Add that 3D effect to your life : Discipline, Dedication and Devotion.</p>
                <p data-aos="fade">As devotion is the path to that ultimate source of positivity which can remain intact with in each and everyone.</p>
                <p data-aos="fade">I I am here to share what all I have received from the beautiful encounters of life.</p>
            </div>
        </div>
    </div>
</div>