/*  LEVEL ONE  */
ul.dropdowni {
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: relative;
	width: 100%;
}
.dropdowni ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
}
ul.dropdowni li {
	float: left;
	zoom: 1;
	display: block;
	position: relative;
	z-index: 500;
	margin-bottom: 0px;
}
ul.dropdowni li a {
	text-decoration: none;
	display: block;
	padding: 50px 22px 20px 22px;
	color: #242424;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.dropdowni li a:hover {
	color: #C20001;
}
ul.dropdowni li:last-child a {
	border-right: none;
}
/* Doesn't work in IE */
ul.dropdowni li.hover, ul.dropdowni li:hover {
	position: relative;
	color: #242424
}
.dropdowni ul li ul li {
	margin-left: 0px;
}
/*  LEVEL TWO  */
ul.dropdowni ul {
	width: 200px;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	color: #242424;
	border-top: 4px solid #e22a31;
}
ul.dropdowni ul li {
	color: #FFFFFF;
	float: none;
	text-align: left;
	margin-bottom: 0px;
}
/* IE 6 & 7 Needs Inline Block */
ul.dropdowni ul li a {
	text-decoration: none;
	text-transform: none;
	padding: 8px 0px 8px 18px;
	border: 1px solid #3d3d3d;
	background: #242424;
	border-top: none;
	color: #FFFFFF;
	border-right: none;
	width: 100%;
	display: inline-block;
}
ul.dropdowni ul li a:hover {
	color: #FFFFFF;
	border-right: none;
	width: 100%;
	display: inline-block;
	background: #e22a31;
}
/*  LEVEL THREE  */
ul.dropdowni ul ul {
	left: 100%;
	top: 0;
}
ul.dropdowni li:hover > ul {
	visibility: visible;
}
.mobileMenu {
	width: 100%;
	height: 40px;
}
