
<div class="inner-page-cover overlay" style="background-image: url('../../img/header_bg.jpg');" data-aos="fade" data-stellar-background-ratio="0.5" id="section-home">
</div>
<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 order-md-1" id="AboutParent" data-aos="fade">
                <div class="text-left pb-1 border-primary mb-4">
                    <h2 class="text-primary">RadhaVallabh Ras Reeti</h2>
                </div>
                <p>Radhavallabh Lal is the embodiment of love, residing in Vrindawan dham. Shree Hita Harivansh Chandra Mahaprabhu is the incarnation of Shree Radha-Krishna’s flute which is the most intimate companion of Yugal (Shree Radha-Krishna) and also the founder acharya of Radhavallabhiye Sampradaya. It was the persuasion of Shree Lalita sakhi that vanshi (flute) appeared on earth. The deity of Radhavallabh Lal appeared from the heart of Lord Shiva and was given to a brahaman named Atmadev. On Shree Radha Rani’s command Shree Hita Harivansh Chandra Mahaprabhu came to Vrindawan with deity, which he received from Atmadev and started Ashtayam sewa at Madan Ter; which is still practiced by Goswami’s at Shree Radhavallabh Temple. He attributed love as a form of devotion by lovingly serving the divine couple. His preaching “Ek pran, Dou deh” – one soul, two bodies has been a valuable asset of sampradaya which is associated with Yugal darshan at Radhavallabh Temple, where one half is seen as Shree Radha and other half as Shree Krishna. Devotion in this sampradaya is “Radha charan pradan”, she is also known to be the Guru of the sampradaya. Hence, mukut sewa of shree radha rani, is placed adjacent to the deity signifying her presence as guru. She inspired Shree Harivansh Chandra Mahaprabhu ji to establish “Prem Bhakti” on earth for the welfare of humanity. </p>
                <p>Mahaprabhu ji established a path of devotion which guides being, towards the service of lotus feet of Shree Radha Rani, who is the epitome of eternal love and worshipped by Shree Krishna himself. In the mesmerizing periphery of Nikunj, which is abode of Shree Radha Rani; Shree Radha is attributed as “Ras Murti” and Shree Krishna as “Bhav Murti”. Vedanta addresses supreme lord as “Rasa Vaisa”. Mahaprabhu ji’s establishment of devotion and service is known to be as Radhavallbhiye Ras Reeti, which is the worship of eternal love present among Yugal, addressed as rasa.</p>
                <p>Shree Radhavallabh Lal is an ocean of beauty where waves of divine love are eternally flowing, which is as new as every moment. Their darshan stirs something within and experience an outpour of divine love. The presence of Shree Radhavallabh Lal makes an individual free from dualities. The parikrama(circumambulation) of divine deity from toe to head fills a being with ecstasy and eternal love.</p>
                <p>Shree Vrindavan Dham is Yugal’s own divine abode where Shree Yamuna, carries within it the unguents of sandal (angraag) and is the actual prem ras which is present in the heart of Yugal sarkaar. She purifies the being from all kinds of miseries and provides individual with shelter of Yugal’s lotus feet.</p>
                <p>Shree Vrindavan Dham’s tree-branches and leaves, are drenched with the love of divine couple, and the raj (dust) of Vrindavan is blessed with the eternal nectar of love from Priyaji’s ( Shree Radharani’s) lotus feet. The form of love here is supremely pure. Hence this love as a form of devotion should be lovingly inculcated in association with the Rasiks of Vrindavan, bearing no other desires and free from shackles of knowledge and actions by being completely aligned with divine intentions, to pursue absolute love as a form of devotion.</p>
            </div>
        </div>
    </div>
</div>
